BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=

APP_PATH=

TESTINGBOT_KEY=
TESTINGBOT_SECRET=

HASURA_ACCESS_KEY=
HASURA_COVERAGE_ATAPPS_URL=

MATTERMOST_ATAPPS_WEBHOOK=

PASSWORD_ROSE=
EMAIL_ROSE=

ANDROID_DEVICE_NAME=
ANDROID_DEVICE_VERSION=

IOS_DEVICE_NAME=
IOS_DEVICE_VERSION=